# Si Docker publica 443:8443, usar el host HTTPS sin ":8443".
KC_URL=https://keycloak-pre.saludteprotege.cl
KC_REALM_ORIGEN=RNI-Dev
KC_REALM_DESTINO=RNI-Dev
KC_ADMIN_USER=admin
KC_CLIENT_ID=rni-apigateway
KC_CLIENT_SECRET=CHANGEME
KC_ADMIN_PASS=CHANGEME
DB_SERVER=CHANGEME
DB_DATABASE=CHANGEME
DB_USER=CHANGEME
DB_PASSWORD=CHANGEME
