# Configuración Base de Datos
DB_NAME=keycloak
DB_USER=keycloak_admin
DB_PASSWORD=CambiaEstePasswordSeguro123!

# CAMBIO AQUÍ: Renombrados para coincidir con Keycloak 26
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=CambiaEstePasswordAdmin456!

# Configuración del Servidor
KC_PORT=8080
KC_HOSTNAME=localhost
